html,
body {
  height: 100%;
}
body {
  font-family: "mundial", sans-serif, "mundial", sans-serif;
  font-weight: 600;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
  color: #333;
}
.header {
  background-color: #2e7d32;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 250px;
  height: auto;
}

.nav {
  display: flex;
  gap: 50px; /* Намаляваме разстоянието между елементите */
  margin-right: 10%;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 2.3em;
  transition: color 0.3s;
}

.nav a:hover {
  color: #a5d6a7;
}

.materials {
  background-image: url("/images/background.forest.webp");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  height: 100vh;
  font-size: 2em;
}
.materials h1 {
  margin: 0;
}
.transparentBox {
  background-color: rgba(0, 0, 0, 0.7);
  color :white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

footer {
  width: 100%;
  background-color: #2e7d32;
  color: white;
  margin-bottom: none;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.footer-left,
.footer-middle,
.footer-right {
  flex: 1;
  min-width: 250px;
  text-align: center;
  padding: 10px;
}
.footer-middle,
.footer-right {
  padding-top: 5%;
  font-size: 150%;
}

.footer-left img {
  width: 80%;
}

.footer-bottom {
  margin-top: 20px;
  text-align: center;
}

.accordion {
  width: 500px;
  padding-top: 10%;
  align-self: center;
  max-width: 600px;
}

.accordion-item {
  background: #333;
  color: white;
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
  border-left: none;
  border-right: none;
  margin-left: 200px;
  margin-bottom: 10px;

  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.accordion-header {
  background: #333;
  color: white;
  border-style: solid;
  border-color: yellow;
  border-width: 1px;
  border-left: none;
  border-right: none;
  padding: 15px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-header:hover {
  color: lightgray;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background: #333;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.accordion-content p {
  margin: 10px 0;
}

.accordion-content.active {
  max-height: 150px;
  padding: 15px;
}
.accordion-header.active {
  border-bottom: none;
  
}
